# pandas索引练习

一、读取CSV

In [27]:
#-*- coding=utf-8 -*-
import pandas as pd
import numpy as np
df=pd.read_csv('微信公众号粉丝信息和群信息.csv',engine='python', header=0)
print(df.head())

  nickname  sex city province country  wechatqun
0       志鸿  1.0   深圳       广东      中国        NaN
1      H_丹  2.0   深圳       广东      中国        NaN
2      许俊彬  1.0   深圳       广东      中国        NaN
3       番薯  2.0   揭阳       广东      中国        NaN
4      呼啦飞  1.0   昆明       云南      中国        NaN

In [28]:
index_name = df.iloc[1,0]
index_name

'H_丹'

In [29]:
a = df['nickname'].str.find(index_name)
a.head()

0   -1
1    0
2   -1
3   -1
4   -1
Name: nickname, dtype: int64

In [30]:
df.loc[df["nickname"] == index_name]

    nickname  sex city province country  wechatqun
1        H_丹  2.0   深圳       广东      中国        NaN
485      H_丹  NaN  NaN      NaN     NaN        NaN

In [31]:
print(df.iloc[485:].head())
#方法1成功：
df["wechatqun"] = df["nickname"].shift(-485)
#方法2失败：
#df.loc[0:, ("wechatqun")] = df.loc[485:, ("nickname")]
#赋值为NaN
df.loc[485:, ("nickname")] = np.nan
print(df.iloc[485:].head())
df.head()

            nickname  sex city province country  wechatqun
485              H_丹  NaN  NaN      NaN     NaN        NaN
486               老虎  NaN  NaN      NaN     NaN        NaN
487  Fiona? fangfang  NaN  NaN      NaN     NaN        NaN
488               柱子  NaN  NaN      NaN     NaN        NaN
489               果果  NaN  NaN      NaN     NaN        NaN
    nickname  sex city province country wechatqun
485      NaN  NaN  NaN      NaN     NaN       NaN
486      NaN  NaN  NaN      NaN     NaN       NaN
487      NaN  NaN  NaN      NaN     NaN       NaN
488      NaN  NaN  NaN      NaN     NaN       NaN
489      NaN  NaN  NaN      NaN     NaN       NaN

  nickname  sex city province country        wechatqun
0       志鸿  1.0   深圳       广东      中国              H_丹
1      H_丹  2.0   深圳       广东      中国               老虎
2      许俊彬  1.0   深圳       广东      中国  Fiona? fangfang
3       番薯  2.0   揭阳       广东      中国               柱子
4      呼啦飞  1.0   昆明       云南      中国               果果

In [32]:
df.to_csv('Result.csv',encoding='utf-8', index=False)